.photoBody {
    width: 100vw;
    position: absolute;
    top: 70px;
    padding: 20px;
  }
  
  .photos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
  }
  
  .photo-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  .text-center{
  }
  .text-center img{
    width: 100px;
  }
  .text-center .folderBtn{
    background: none;
    border: none;
  }
  .text-center h1{
    color:black;
    width: 70px;
    overflow: hidden;
  }
  