.contain {
    min-height: 100vh;
    /* max-width: 90vw; */
  }
.photo{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.add-button{
    position: fixed;
    top: 0;
    z-index: 1000;
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    background: black;
    opacity: 80%;
    border-radius: 50px;
    margin:0 5%;
    margin-top: 120px;
    color: #9dc416;
}
.add-button:hover{
    color: #1176e2;
}
.imgBody{
    display: flex;
    flex-direction: column;
    padding-bottom: 40%;
     /* align-items: end; */
}
.imgBody .imgAddIcon{
    /* width: 100vw; */
    display: flex;
    justify-content: end;
    align-items: end;
   
    /* margin-top: 95px; */
}
.imgfooter{
    display: flex;
    align-items: center;
}
