.contain {
    min-height: 100vh;
  }
.photo{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.add-button{
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    background: black;
    opacity: 80%;
    font-size: 30px;
    border-radius: 50px;
    margin:0 2%;
    color: #4CAF50;
}
.add-button:hover{
    color: #1176e2;
}
.imgBody{
    display: flex;
    flex-direction: column;
     /* align-items: end; */
}
.imgBody .imgAddIcon{
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: end;
   
    margin-top: 95px;
}
.imgfooter{
    display: flex;
    align-items: center;
}
