.uploadBody{
    max-width: 400px;
    min-height: 300px;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 80%;
    border-radius: 10px;
    color: white;
}
.uploadHead{
    margin-top: 20px;
}
.uploadBody form{
    display: flex;flex-direction: column;
}
.upload-form .folder{
    min-height: 60px;
    /* background-color: pink; */
}
.upload-form .folder select{
    width: 180px;
    background-color: white;
    border: none;
    padding: 5px;
}
.upload-form .folder select:focus{
    width: 180px;
    background-color: rgb(11, 159, 185);
    border: none;
    padding: 5px;
}
.upload-form .folder option{
    width: 180px;
    background-color:  #4CAF50;
    border: none;
    padding: 5px;
}
.upload-form .folder option:hover{
    width: 180px;
    background-color:  #032738;
    border: none;
    padding: 5px;
    color: black;
}
/* .upload-form .file{
    height: 80px;
    background-color: green;
} */
.uploadBody .upload-form input{
    max-width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background: transparent;
    border-radius: 4px;
    /* outline: none; */
    color: white;
}
.upload-form .folder_input{
    border-bottom: 2px solid rgb(250, 246, 246) !important;

}
.upload-form .btn{
    margin-left: 35%;
}
